html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100%;
}
.swal2-shown aside {
    height: 100vh;
}
/** Login **/
.login,
.crear-cuenta {
    background: #455A64;
}
.contenedor-formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.contenedor-formulario h1 {
    text-align: center;
    color: white;
}
.contenedor-formulario h1  span{
    font-weight: 400;
    font-size: 1.2rem;
}
.caja-login {
    background-color: #F2F2F2;
    border: 1px solid #707070;
    max-width: 650px;
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
    -webkit-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    padding: 3rem;
}
.campo {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.campo label {
    flex: 0 0 100px;
    text-align: right;
    padding-right: 1rem;
}
.campo input[type="text"],
.campo input[type="date"],
.campo input[type="password"] {
    height: 2rem;
    border: 0;
    /*flex: 1; border-radius: 5rem;*/
    border: 1px solid #455A64;
    padding-left: 2rem;
}

.campo1 {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.campo1 label {
    text-align: right;
    padding-right: 1rem;
}
.campo1 input[type="text"],
.campo1 input[type="date"],
.campo1 input[type="password"],
.campo1 input[type="number"],
.campo1 select {
    height: 2rem;
    width: 175px;
    border: 0;
    /*flex: 1; border-radius: 5rem;*/
    border: 1px solid #455A64;
    padding-left: 10px;
}
.enviar {
   justify-content: center;
   margin-top: 40px;
}
.boton {
    background-color: #35fdf0;
    text-align: center;
    transition: background-color .5s ease-in-out;
    display: block;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    border: none;
}
.boton:hover {
    cursor: pointer;
    background-color: #04cabd!important;
}
.campo a {
    color: black;
    text-decoration: none;
}

/** Barra **/
body.index {
    height: 100vh;
}
.barra {
    background-color: #181818;
    padding: 1rem;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barra h1 {
    color: white;
    margin:0;
    font-size: 1.4rem;
}
.barra a {
    color: white;
    text-decoration: none;
}

/*** sidebar**/
.contenedor-proyectos {
    min-height: 100vh;
    max-width: 300px;
    background-color: #f5f5f5;
    border-right: 1px solid rgba(0,0,0,.12);
}
/*.panel {
    padding: 1rem;
    margin: 1rem; 
}*/
.panel a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.panel h2 {
    color: #FDD835;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.crear-proyecto i {
    margin-left: 1rem;
}
.crear-proyecto a {
    color: #455A64;
}

.lista-proyectos ul{
    list-style: none;
    padding: 1.5rem 0 0 0;
    margin: 0;
}
.lista-proyectos ul li {
    margin-bottom: 1rem;
}
.lista-proyectos ul li a:hover {
    color: #FDD835;
}


/** Contenido Principal */
.contenedor {
    display: flex;
    height: calc( 100% - 60px);
}
.contenido-principal {
    background-color: #f5f5f5;
    flex: 1;
    padding: 1rem;
    overflow: scroll;
}
.contenido-principal h1,
.contenido-principal h2 {
    text-align: center;
}
.contenido-principal h1 {
    font-size: 1.8rem;
}
.contenido-principal h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
}
.contenido-principal h1 span {
    font-weight: 400;
}
.agregar-tarea {
    max-width: 800px;
    width: 90%;
    background-color: white;
    margin: 0 auto;
    padding: 2rem;
    color: black;
    transition: background-color .5s ease-in-out;
    border: 1px solid #e0e0e0;
}

.agregar-tarea1 {
    background-color: white;
    margin: 0 auto;
    padding: 2rem;
    color: black;
    transition: background-color .5s ease-in-out;
    border: 1px solid #e0e0e0;
}

/** Listado Pendientes **/
.listado-pendientes {
    background-color: white;
   /* max-width: 800px;
    width: 90%; 
    margin: 2rem auto 0 auto;*/
    padding: 2rem;
    border: 1px solid #e0e0e0;
}
.listado-pendientes ul {
    padding: 0;
    list-style: none;
}
.listado-pendientes ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    border-bottom: 1px solid #d1d1d1;
}
.listado-pendientes ul li:last-of-type {
    border-bottom: none;
}
.listado-pendientes ul li i {
    cursor: pointer;
}
.acciones i:last-child{
    margin-left: 3rem;
}
.completo {
    color: #00B762;
}
.alerta {
    background-color: red;
    padding: .5rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.categories-metodos {
    border: 1px solid #e0e0e0;
     background: #fff;
     text-align: center;
    transition: background-color .5s ease-in-out;
    display: block;
    padding: 1rem;
    
}

.categories-metodos:hover {
    cursor: pointer;
    background-color: #35fdf0!important;
}

.contenedor-proyectos ul a {
    color: rgba(0,0,0,.87);
     text-decoration: none;
}

.tbl-datos {
    border-collapse: collapse;
    border: 1;
    padding: 15px;
}

input[type=text],[type=date],[type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

.table {
	 border-collapse: separate;
	 border-spacing: 10px;
     empty-cells: hide;
     padding: 2px; 
}
td {
	 padding: 2px;
}
  

